input {
  width: 200px;
  height: 35px;
  padding-left: 10px;
}

input::placeholder {
  padding-left: 10px;

}

button {
  background-color: #00800094;
  color: white;
  /* padding-left: 10px; */
      margin-left: 10px;
}
